@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --open_sans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --Pink: hsl(322, 100%, 66%);
    --Very_Pale_Cyan: hsl(193, 100%, 96%);
    --Very_Dark_Cyan: hsl(192, 100%, 9%);
    --Grayish_Blue: hsl(208, 11%, 55%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: var(--open_sans);
    min-height: 100vh;
    width: 100vw;
}

.hero {
    min-height: 95vh;
    background: url('./images/bg-hero-desktop.svg') no-repeat center center/cover var(--Very_Pale_Cyan);
    padding: 3rem 5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

.logo {
    width: 180px;
}

.headerBtn {
    background-color: #fff;
    padding: 1rem 4rem;
    border-radius: 50px;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: 800;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: .3s ease;
}

.headerBtn:hover {
    color: var(--Grayish_Blue);
}

.hero_body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 3rem;
}

.hb_info {
    width: 75%;
}

.hb_title {
    font-size: 40px;
    font-family: var(--poppins);
    font-weight: 200;
}

.hb_description {
    padding-block: 1.5rem;
    font-size: 18px;
    color: var(--Very_Dark_Cyan);
    font-weight: 100;
    line-height: 1.7;
}

.hbBtn {
    background-color: var(--Pink);
    padding: 1rem 4rem;
    border-radius: 50px;
    color: #fff;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease;
}

.hbBtn:hover {
    opacity: .6;
}

.hb_image {
    background: url('./images/illustration-mockups.svg') no-repeat center center/contain;
    width: 100%;
    height: 32rem;
}

.infos {
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
}

.info {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 4rem;
    gap: 8rem;
}

p {
    font-size: 18px;
}

.growImg {
    width: 60%;
    height: auto;
}

#flowImg {
    padding-left: 4rem;
}

.left_info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 5rem;
}

.left_info h2 {
    font-family: var(--poppins);
    font-size: 29px;
}

.left_info p {
    color: var(--Grayish_Blue);
    font-weight: 100;
}

.build {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 280px;
    border-radius: 20px;
    gap: 1.5rem;
    padding: 2rem 4rem;
}

.build h1 {
    font-size: 32px;
    font-family: var(--poppins);
}

.buildBtn {
    background-color: var(--Pink);
    padding: 1.5rem 6rem;
    border-radius: 50px;
    color: #fff;
    outline: none;
    border: none;
    font-size: 19px;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease;
}

.buildBtn:hover {
    opacity: .7;
}

.footer {
    min-height: 75vh;
    background-color: var(--Very_Dark_Cyan);
    color: var(--Very_Pale_Cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 3rem 5rem;
}

.footer_logo {
    margin-bottom: 1.5rem;
}

.footer_inner_infos {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.fii {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fii a {
    color: var(--Very_Pale_Cyan);
    text-decoration: none;
    transition: .3s ease;
}

.fii a:hover {
    text-decoration: underline;
}

.firstF {
    width: 30%;
}

.fiis {
    display: flex;
    align-items: start;
    gap: 2rem;
}

.location {
    width: 50px;
}

.icons {
    justify-content: space-between;
}

.icon {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.icon i {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s ease;
}

.icon i:nth-of-type(1) {
    padding: 10px 12px;
}

.icon i:hover {
    color: var(--Pink);
    border: 1px solid var(--Pink);
}

.copyright {
    font-size: 12px;
}

.attribution {
    position: absolute;
    bottom: 15px;
    text-align: center;
    font-size: 14px;
}

.attribution a {
    color: red;
}

@media(max-width:1048px) {
    .hero_body {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 5rem;
    }

    .hb_info {
        width: 100%;
    }

    .info {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding: 2.5rem 2rem;
    }

    .left_info {
        width: 100%;
        margin: 1rem;
    }

    .growImg {
        width: 84%;
    }

    #info {
        flex-direction: column;
    }

    #flowImg {
        padding: 0;
    }

    .footer_inner_infos {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .firstF {
        width: 100%;
    }

    .location {
        min-width: 18px;
        max-width: 18px;
    }

    .icons {
        align-items: center;
    }
}

@media(max-width:685px) {

    .hero,
    .infos,
    .footer {
        padding: 2rem;
    }

    .buildBtn {
        padding: 1rem 3rem;
        font-size: 15px;
    }
}

@media(max-width:562px) {
    .hero {
        padding: 1rem;
    }

    .hb_title {
        font-size: 30px;
    }

    .logo {
        width: 150px;
    }

    .hb_description {
        font-size: 16px;
    }

    .headerBtn {
        padding: .8rem 2.5rem;
        font-size: 12px;
    }

    .hb_image {
        height: 20rem;
    }

    p {
        font-size: 16px;
    }

    .build {
        padding: 1rem;
        height: auto;
    }

    .build h1 {
        font-size: 22px;
    }

    .buildBtn {
        font-size: 14px;
        padding: 1rem;
    }

    .attribution {
        font-size: 12px;
        margin-top: 2rem;
    }
}